<!DOCTYPE html>
<html lang="en">

        <% include ../partials/head %>

<body>
    <div class="container body-content">
        <br />
        <h2>
            <%= title %>
        </h2>
        <br>

        <form  method="POST">
            <div class="form-horizontal">
                    <div class="form-group">
                            <label class="control-label col-md-2"> Email-Id</label>
                            <div class="col-md-3">
                                <input type="text" name="mailid" class="form-control" readonly value=<%= bookingg.email %> >
                            </div>
                        </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> Venue</label>
                    <div class="col-md-3">
                        <input type="text" name="venue" class="form-control" readonly value=<%= bookingg.venue %> >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Society</label>
                    <div class="col-md-3">
                        <input type="text" name="society" class="form-control"  readonly value=<%= bookingg.society %> >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Event Start</label>
                    <div class="col-md-3">
                        <input type="text" name="eventstart" class="form-control"  readonly value=<%= bookingg.eventStartTime%> >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Event End</label>
                    <div class="col-md-3">
                        <input type="text" name="eventend" class="form-control"  value=<%= bookingg.eventEndTime %>>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Purpose</label>
                    <div class="col-md-3">
                        <input type="text" name="purpose" class="form-control"  readonly value=<%= bookingg.purpose %> >
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-md-2">Event Date</label>
                        <div class="col-md-3">
                            <input type="text" name="eventdate" class="form-control"  value=<%= bookingg.eventDate %> >
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-md-2">Status</label>
                            <div class="col-md-3">
                                <input type="text" name="status" class="form-control"  readonly value=<%= bookingg.status %> >
                            </div>
                        </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Action</label>
                    <div class="col-md-3">  
                      <input type="submit" value="Confirm" class="btn btn-primary" />
                        <a href="/adminpanel">back</a>
                    </div>
                </div>

            </div>
        </form>



        <br />
        <br />
        
        <hr />
        <footer>
            2018 &copy; The Northcap University
        </footer>
    </div>

</body>

</html>